.confirm_phone_number{
    text-align: center;
    justify-content: center;
    align-items: center;
    display :flex;
    .pin_input{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
.title{
    
    text-align: center;
    justify-content: center;
    align-items: center;
}