.btn-customer{
    color: #FD8400 !important;
    background-color: white !important;
    border: #FD8400 !important;
    &:hover{
      background-color: #FD8400 !important;
      color: white !important;
    }

  }

  @media print {
    body * {
      visibility: hidden;
    }
    .printable-content,
    .printable-content * {
      visibility: visible;
    }
    .printable-content {
      position: absolute;
      left: 0;
      top: 0;
    }
  }