.btn-customer{
    color: #FD8400 !important;
    background-color: white !important;
    border: #FD8400 !important;
    &:hover{
      background-color: #FD8400 !important;
      color: white !important;
    }

  }