// .modal-dialog{
//   width: 800px !important;
// }
// .modal-content{
//   width: 800px !important;
// }

.btn_add_to_card{
    color: #FD8400 !important;
    background-color: white !important;
    border: #FD8400 !important;
    &:hover{
      background-color: #FD8400 !important;
      color: white !important;
    }

  }


  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    width: 100% !important;
    padding-right: var(--bs-gutter-x, 1.625rem) !important;
    padding-left: var(--bs-gutter-x, 1.625rem) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 1140px !important;
    font-family: "Roboto" !important;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: "Roboto" !important;
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    //bottom: 20px;
   // right: 20px;
    z-index: 99999;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    justify-items: center;
    align-items: center;

}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}
.owl-nav{
  display: none;
}


.img-product-item{
  height: 250px !important;
}


.product-item{



  &:hover{
    background-color: #00000005;
  }
}




.category_home_custom{
  height: 250px !important;
}

.category_home_custom_1{
  height: 530px !important;
}


.product-item-category{
  .single-product {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &:hover{
    background-color: #00000005;
  }
}



.out_stock_product {
  font-size:larger;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 140, 0, 0.605); /* Red background color with transparency */
  color: #fff; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Transition effect for opacity */
}

.single-product:hover .out_stock_product {
  opacity: 1; /* Show the "out of stock" div on hover */
}