// .modal-dialog{
//   width: 800px !important;
// }
// .modal-content{
//   width: 800px !important;
// }

.btn_add_to_card{
    color: #FD8400 !important;
    background-color: white !important;
    border: #FD8400 !important;
    &:hover{
      background-color: #FD8400 !important;
      color: white !important;
    }

  }