.main-image{
  margin-bottom: 10px;
  width: 100%;
}
.thumbnail-item{
  width: 100%;
  height: 100%;
}
.btn-product-detail{
  text-decoration: none;
}

.stock-product-detail{
  text-decoration: none;
}
.l-through {
  text-decoration: line-through;
  color: #cccccc;
  margin-bottom: 0;
}
.card_area{
  margin-top: 20px;
}
.reply_btn{
  text-decoration: none;
}
.link-star{
  text-decoration: none;
  color: rgb(196, 218, 26);
}
.box_total_product{
  color: linear-gradient(90deg, #e2b539 0%, #ff6c00 100%);
  background-color: #e8f0f2;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
} 

.star-rating {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.star {
  display: inline-block;
  font-size: 20px; /* Điều chỉnh kích thước ngôi sao */
  cursor: pointer;
  transition: color 0.2s; /* Hiệu ứng khi hover */
}

.star.active {
  color: #ffcc00; /* Màu của ngôi sao đầy khi hover hoặc được chọn */
}