@use "sass:map";
@import "style/pages/theme";

  .content {
    text-align: center;
    margin-bottom: 20px;
    width: 1200px;
  }
  .img_slider {
    display: flex;
    margin: 0 0;
    height: 80vh;
    width: 100%;
  }
  .slick-prev {
    left: -52px !important;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 30px;
  }
  .banner img{
    height: 200px;
    width: 100%;
  }
.hot_product{
  width: 100%;
  display: flex;
  .product{
    position: relative;
    display: inline-block;
    &:hover{
      .fast_view_product,.buy_product {
        display: block;
      }

    }
    .fast_view_product {
      position: absolute; 
      top: 70%;
      transform: translate(-50%, -50%);
      color: #fff; 
      border: none;
      z-index: 2;
      display: flex;
      left: 35%;
      background: transparent;
      display: none;
    }

    .buy_product{
      position: absolute;
      top: 70%;
      transform: translate(-50%, -50%);
      color: #fff;
      border: none;
      z-index: 2;
      display: flex;
      left: 65%;
      background: transparent;
      display: none;
    }
    .product_img{
      max-width: 100%;
      height: auto;
      margin-bottom: 5%;
    }
    .product_name{
      
      text-decoration: none;
      font-size: 20px;
      color: map.get($theme-colors, "header_text");
      font-weight: 600;
    }
  }
}
  
  .product_modal{
    .close_button_modal_product{
      position: absolute;
      top: 10px;
      right: 10px; /* Adjust the right value as needed */
      z-index: 1000; /* Ensure it's above other content */
    }
    .product_name_modal{
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      color: map.get($theme-colors, "header_text");
    }
   
  }
