.btn-customer-admin{
    margin-top: 5px;
    color: #FD8400 !important;
    background-color: white !important;
    border: #FD8400 1px solid !important;
    &:hover{
      background-color: #FD8400 !important;
      color: white !important;
    }

  }