.footer-area{
    color: white;
}
.custom_footer{
    li a{
        color: white;
    }
    }

.icon_social{
    text-decoration: none;
    color: #FFC000;
    font-size: 20px;
    &:hover{
        color:#3498DB;
    }
}