@use "sass:map";
@import "theme";
@import "responsive";



html,
body{
    margin: 0;

}

*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    //background: map.get($theme-colors, "main");
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4{
    flex: 0 0 33%;
    max-width: 33%;
}

.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}

@include Responsive($MEDIUM_DEVICE){
    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@include Responsive($DESKTOP){
    .col-xl-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@include Responsive($TABLET_DEVICE){
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@include Responsive($WIDE_MOBILE){
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
}