.custom_menu{
    font-size: xl-large !important;
    font-weight: 800 !important;
    text-decoration: none;
    color: #FFC000 !important;
    
}

.custom_menu_sub{
    font-size: xl-large !important;
    font-weight: 800 !important;
    text-decoration: none;
    color: #FFC000 !important;
    &:hover{
        color: white !important;
    }
    
}