.custom_menu{
    font-size: xl-large !important;
    font-weight: 800 !important;
    text-decoration: none;
    color: #FFC000 !important;
    
}

.custom_menu_sub{
    font-size: xl-large !important;
    font-weight: 800 !important;
    text-decoration: none;
    color: #FFC000 !important;
    &:hover{
        color: white !important;
    }
    
}
li.nav-item{
    position: relative;
    .cart-count {
        background-color: #FFC000;
        color: white !important; /* Màu chữ */
        border-radius: 50%; /* Để tạo hình tròn */
        width: 20px; /* Chiều rộng */
        height: 20px; /* Chiều cao */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px; 
        font-weight: bold;
        z-index: 999;
        position: absolute;
        top: 50%; /* Cách trên là 50% chiều cao của container */
        left: 15px;
        transform: translateY(-50%);
      }
    .icon-cart{
        color: #FFC000 !important;
        font-size: 20px;
    }
}

.language{
    border: none;
    background-color: white;
    color: #FFC000;
    font-size: 0.7rem;
    &.active {
        color: red ;
        font-size: 0.8rem ;
    }
}
.mid-language{
    color: #FFC000 !important;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}